{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hostwise</title>
    <link href="https://fonts.googleapis.com/css?family=Knewave&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <link rel="stylesheet" href="{% static 'css/main1.css' %}">

</head>

<body>
    <!-- partial:index.partial.html -->
    <label>
        <form action="{% url 'Redirect' %}" target="_parent" method="post">
            {% csrf_token %}
            <input type="text" name="name" id="name" required>
            <ul>
                <li s>s</li>
                <li e>e</li>
                <li a>a</li>
                <li r>r</li>
                <li c>c</li>
                <li h>h</li>
            </ul>
            <br><br>
            <input type="submit" value="Submit!">
        </form>
    </label>
    <!-- partial -->

</body>

</html>